body{
    font-family: 'Fredoka', cursive;
    background-color: #3aafa9;
    font-size: 150%;
    margin-bottom: 50px;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: white;
}

.topimg{
    margin: 5px 5px;
    position: fixed;
}

.email{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: large;
    padding: 10px;
    border: 2px solid white;
    border-radius: 40px;
}

.email:hover{
    font-weight: bold;
}

.intro{
    text-align: center;
    font-size: 56px;
    margin-top: -10px;
}

.intro img{
    display: -webkit-box;
    margin: -50px auto;
    width: 200px;
    border-radius: 40px;
    transition: transform 0.5s;
}

.intro img:hover{
    transform: scale(1.05);
}

.container1{
    text-align: center;
    padding-top: 150px;
    max-width: 1000px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.container2{
    text-align: center;
    padding-top: 60px;
    max-width: 800px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.table{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.box{
    border-radius: 25px;
    background-color:#2f9995;
    border-color:transparent;
    color: white;
    padding: 20px;
    margin: 5px 5px;
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
}

.box2 {
    border-radius: 25px;
    background-color:#2f9995;
    border-color:transparent;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 5px 5px;
    min-width: 215px;
    max-width: 215px;
    min-height: 100px;
}

.box:hover,.box2:hover,.box3:hover{
    background-color: #17252a;
    transition: 0.5s;
}

.box3 {
    border-radius: 25px;
    background-color:#2f9995;
    border-color:transparent;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 21px;
    margin: 5px 5px;
    min-width: 100px;
    max-width: 100px;
    min-height: 90px;
}

.box4{
    font-size: 26px;
    border-radius: 25px;
    background-color:#2f9995;
    border-color:transparent;
    color: white;
    padding: 20px;
    margin: 5px 5px;
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
    transition: 0.5s;
}

.box4:hover{
    min-height: 400px;
    transition: 1s;
}

.arrow {
    font-family: 'Fredoka One', cursive;
    padding-top: 50px;
    margin: -5px;
    font-size: 30px;
}

.sidelink{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 350px 0 0 20px;
}

.botlink{
    display: none;
}

.link {
    font-family: 'Fredoka One', cursive;
    color: #2b7a78;
    text-decoration: grammar-error;
}

.link:hover {
    color: #17252a;
}

.link2:hover{
    font-weight: bold;
}

@media (max-width: 1200px) {
    body {
        font-size: 130%;
    }

    .topimg{
        display: none;
    }

    .sidelink{
        display: none;
    }
    
    .botlink{
        display: flex;
        bottom: 0;
        justify-content: center;
        align-content: center;
        font-size: 35px;
        background-color: #3aafa9;
        padding: 10px 10px 3px 10px;
    }
    .container2{
        min-width: 900px;
    }
}
            
